{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block intro_title %}
    Shopping Cart
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer">
    <section class="copyright ptb-15">
        <div class="container">
            <p class="">
                © 2015 <a><b>Mazel Template</b></a>. All Rights Reserved.
                <br />
                Template  by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>
            </p>
        </div>
    </section>
    </footer>
{% endblock %}
