{% extends "cart/base-cart.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<div class="page-breadcrumb">
<span style="color: #e6ae49;">Cart</span><i class="fa fa-chevron-right"></i><span>Checkout</span><i class="fa fa-chevron-right"></i><span>Payment</span>
</div>
{% endblock %}

{% block content %}
    <section class="ptb ptb-sm-80">
        <div class="container">

            {% if not cart %}            
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'shop:product_list' %}"><button value="" type="submit" class="btn btn-lg btn-color-a"><i class="fa fa-chevron-left left"></i>Continue Shopping</button></a>
                </div>
            </div>

            <div class="spacer-30"></div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Your Shopping Cart is empty.</h4>
                    <p>It may have already been cleared after placing an order.</p>
                </div>
            </div>            
            <div class="spacer-90"></div>
            {% else %}
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'shop:product_list' %}"><button value="" type="submit" class="btn btn-lg btn-black form-full"><i class="fa fa-chevron-left left"></i>Continue Shopping</button></a>
                </div>
            </div>

            <div class="spacer-30"></div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table checkout table-border">
                        <tr class="gray-bg">
                            <th class="hidden-xs"></th>
                            <th>Product</th>
                            <th class="hidden-xs">Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td class="hidden-xs">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="list-item" src="{{ product.image.url }}" />
                                </a>
                            </td>
                            <td>
                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                <p class="checkout-item-descript">Material: 70% Cotton, 25% Polyester, 5% Lycra</p>
                                <p class="checkout-item-descript">Made To Order</p>
                                <p class="checkout-item-descript">Ships Worldwide from Manila, Philippines</p>
                                <div class="spacer-15"/>
                            </td>
                            <td class="hidden-xs"><p>${{ product.price }}</p></td>
                            <td>
                                <form>
                                    <input type="number" value="{{ item.quantity }}" max="50" min="1" style="width: 100%; max-width: 70px;" class="input-md" disabled>
                                </form>
                            </td>
                            <td><p>${{ item.total_price }}</p></td>
                            <td>
                                <a href="{% url 'cart:cart_remove' product.id %}"class="right-icon" style="font-size:20px;">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}

                    </table>
                </div>
            </div>

            <div class="row ptb-30">
                <div class="col-md-8">
                    <form action="{% url 'coupons:apply' %}" method="post">
                        {% csrf_token %}
                        <input class="input-sm" id="id_code" name="code" type="text" placeholder="Apply a coupon!"/>
                        <input type="submit" value="Apply" name="apply_coupon" class="btn btn-md btn-black">
                    </form>
                </div>
            </div>

            <hr />

<!-- 
                <div class="col-md-4 mb-sm-60">
                    <h4>Calculate Shipping</h4>
                    <form class="">
                        <select class="form-full">
                            <option>United Kingdom</option>
                            <option>france</option>
                            <option>USA</option>
                        </select>
                        <input type="text" class="input-sm form-full" placeholder="State" />
                        <input type="text" class="input-sm form-full" placeholder="Postcode / Zip" />
                        <button class="btn btn-md btn-black" value="1" name="calc_shipping" type="submit">Get A Quote</button>
                    </form>
                </div>
 -->
            <div class="spacer-15"></div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8" style="padding-left: 0px; padding-right: 0px;">
                    <div class="shop-Cart-totalbox">
                        <h4>Cart Totals</h4>
                        <table class="table table-border">
                            <tr>
                                <th>Cart Subtotal :</th>
                                <td><p>${{ cart.get_total_price }}</p></td>
                            </tr>
                            {% if cart.coupon %}
                            <tr>
                                <th>"{{ cart.coupon.code }}" coupon ({{ cart.coupon.discount }}% off)</th>
                                <td><p>- ${{ cart.get_discount|floatformat:"2" }}</p></td>
                            </tr>
                            {% endif %}
                            <tr class="shop-Cart-totalprice">
                                <th>Total :</th>
                                <td>${{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
                            </tr>
                        </table>
                        <a href="{% url 'orders:order_create' %}"><button value="" type="submit" class="btn btn-lg btn-color-b form-full">Proceed to Checkout<i class="fa fa-chevron-right right"></i></button></a>
                        <div class="spacer-15"></div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </section>
{% endblock %}
