{% extends "cart/base-cart.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<div class="page-breadcrumb">
<span>Cart</span><i class="fa fa-chevron-right"></i><span>Checkout</span><i class="fa fa-chevron-right"></i><span style="color: #e6ae49;">Payment</span>
</div>
{% endblock %}

{% block content %}
    <section class="ptb ptb-sm-80">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'shop:product_list' %}"><button value="" type="submit" class="btn btn-lg btn-black"><i class="fa fa-chevron-left left"></i>Cancel Order and Continue Shopping</button></a>
                </div>
            </div>

            <div class="spacer-30"></div>

            <div class="row">
                <div class="col-md-12 text-center">
                <h3>Pay using Paypal</h3>
                <div class="spacer-15"></div>
                {{ form.render }}
                </div>
            </div>
        </div>
    </section>
    <div class="spacer-90"></div>
{% endblock %}
