{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
    {% if product %}{{ product.name }}{% else %}{{ category.name }}{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block content %}   
    <section id="shop-item" class="ptb ptb-sm-80">
        <div class="container">
            <div class="row ">
                <div class="col-md-9 col-sm-8">
                    <!-- Sort List -->
                    <div class="shop-filter mb-15">
                        <div class="float-right float-none-xs">
                            {% with prod_total=products.count %}
                            <p>{{ prod_total }} result{{ prod_total|pluralize }}</p>
                            {% endwith %}
                        </div>
                        <div class="float-left float-none-xs">
                            <form>
                                <label>Sort By</label>
                                <select class="input-md round">
                                    <option>Default Sorting</option>
                                    <option>Popular</option>
                                    <option>Latest</option>
                                    <option>Average Price</option>
                                    <option>High Price</option>
                                    <option>Low Price</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <!-- End Sort List -->

                    <!-- Shop Item -->
                    <div class="row container-grid">
                        {% for product in products %}
                        <div class="nf-item col-md-6 col-xs-12 mb-30">
                            <div class="item-box">
                                <!-- Shop item images -->
                                <div class="shop-item">
                                    <div class="item-img">
                                        <img class="list-item" src="{% if product.image %}
                                                    {{ product.image.url }}
                                                  {% else %}
                                                    {% static 'img/no_image.png' %}
                                                  {% endif %}" />
                                    </div>
                                    <div class="item-mask">
                                        <div class="item-mask-detail">
                                            <div class="item-mask-detail-ele">
                                                <a class="btn btn-line-xs btn-white-line" href="{{ product.get_absolute_url }}"><i class="fa fa-search"></i>View Item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Shop item images -->

                                <!-- Shop item info -->
                                <div class="shop-item-info">
                                    <a href="shop-detail.html">
                                        <h6 class="shop-item-name">{{ product.name }}</h6>
                                    </a>
                                    <div class="shop-item-price"><span>${{product.price}}</span></div>
                                </div>
                                <!-- Shop item info -->
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- End Shop Item -->

                    <!-- Pagination Nav -->
                    <!-- End Pagination Nav -->
                </div>

                <!-- Right Sidebar -->
                <div class="col-md-3 col-sm-4 mt-xs-30">

                    <!-- Price Filter -->
                    <div class="sidebar-widget">
                        <h5>Filter By Price</h5>
                        <hr />
                        <div id="range-slider" class="mtb-25"></div>
                        <p class="">
                            <label for="price-amount"><span class="price-amount-from"></span>- <span class="price-amount-to"></span></label>
                            <button value="" type="submit" class="btn btn-xs btn-black pull-right">Filter</button>
                        </p>
                    </div>
                    <!-- End Price Filter -->

                    <!-- Shop Categories -->
                    <div class="sidebar-widget">
                        <h5>Product Categories</h5>
                        <hr />
                        <ul>
                            {% if not category.slug %}
                            <li class="selected-cat">
                                <a disabled="disabled"><b>ALL</b></a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'shop:product_list' %}"><b>ALL</b></a>
                            </li>
                            {% endif %}

                            {% for c in categories %}
                            {% if category.slug == c.slug %}
                            <li>
                                <a disabled="disabled"><b>{{ c.name|upper }}</b></a>
                            {% else %}
                            <li>
                                <a href="{{ c.get_absolute_url }}"><b>{{ c.name|upper }}</b></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Shop Categories -->

                    <!-- New Product -->
                    <div class="sidebar-widget">
                        <h5>New Products</h5>
                        <hr />
                        <ul class="widget-post">
                            {% for product in new_products %}
                            <li>
                                <a class="widget-post-media">
                                    <img src="{% if product.image %}
                                                    {{ product.image.url }}
                                              {% else %}
                                                    {% static 'img/no_image.png' %}
                                              {% endif %}" />
                                </a>
                                <div class="widget-post-info">
                                    <h6><a>{{ product.name }}</a></h6>
                                    <p><span>${{ product.price }}</span></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Shop Categories -->

                    <!-- Tags -->
                    <!-- End Shop Categories -->

                </div>
                <!-- End Right Sidebar -->
            </div>
        </div>
{% endblock %}
